trailpeñasagra.com {
    handle /_event/* {
        reverse_proxy 172.18.0.2:8000
    }

    handle /ping {
        reverse_proxy 172.18.0.2:8000
    }

    handle /_upload/* {
        reverse_proxy 172.18.0.2:8000
    }

    handle {
        reverse_proxy 172.18.0.2:3000
    }
}

www.trailpeñasagra.com {
    redir https://trailpeñasagra.com{uri} permanent
}